[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./foodie/config/*,
       ./foodie/wsgi.py,
       ./wait_for_postgres.py
       *__init__*
